{% extends "app_taller/base.html" %}
{% load static %}

{% block title %}Inicio - PepsiCo APT{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>
  <script src="{% static 'js/forms.js' %}" defer></script>
{% endblock %}

{% block content %}

<div class="home-wrapper">
  <div class="card home-card">
    <h2>Bienvenido</h2>
    <p class="intro-text">
      Portal de ingreso de vehículos, Órdenes de Trabajo y Gestión de Taller.
    </p>

    {% if not user.is_authenticated %}
      <a class="btn btn-primary home-btn" href="{% url 'login' %}">Entrar</a>
    {% else %}
      <a class="btn btn-primary home-btn" href="{% url 'dashboard' %}">Ir a mi panel</a>
    {% endif %}
  </div>
</div>

{% endblock %}
