
{% extends "app_taller/base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<script src="{% static 'js/main.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<script src="{% static 'js/main.js' %}" defer></script>
<link href="{% static 'css/base.css' %}" rel="stylesheet"> 



<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>
<script src="{% static 'js/main.js' %}"></script>

<script src="{% static 'js/forms.js' %}" defer></script>



{% block title %}Inicio - PepsiCo APT{% endblock %}
{% block content %}
  <div class="card">
    <h2>Bienvenido</h2>
    <p>Portal de Ingreso, Órdenes de Trabajo y Gestión de Taller.</p>
    {% if not user.is_authenticated %}
      <a class="btn" href="{% url 'login' %}">Entrar</a>
    {% else %}
      <a class="btn" href="{% url 'dashboard' %}">Ir a mi panel</a>
    {% endif %}
  </div>
{% endblock %}
